<div class="content">
    <div class="mainPart">
        <div class="mainPartText">
            <h1>¡Bienvenido/a!</h1>
            <p>Bienvenido/a a tu
                tienda de confianza
                para la compra de
                videojuegos de
                ordenador.</p>
        </div>
        <div class="mainPartImage">
            <img src="assets/img/HadesPoster.jpg">
        </div>
    </div>
    <div class="appExplain">
        <p>Nuestra tienda se dedica a la
            adquisición en masa de claves para
            juegos de distintas tiendas como
            Steam o Epic Games, lo que nos permite
            distribuirlas a un precio reducido
            respecto al que tienen en esas propias
            tiendas.</p>
    </div>
    <app-slider></app-slider>

    <h1 class="employersTitle">Conoce a nuestros empleados</h1>

    <app-empleados></app-empleados>

</div>